---
name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: "Publish release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install hatch
          hatch env create

      - name: Build package & docs
        run: |
          hatch build
          hatch run mkdocs build --clean

      - name: Publish
        run: |
          hatch publish -u "${{ secrets.USERNAME }}" -a "${{ secrets.PASSWORD }}"
          hatch run mkdocs gh-deploy --force
